<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            Made in ARG by 
            <a href="https://twitter.com/gbuszmicz" target="_blank">@gbuszmicz</a>
          </li>
          <li class="mid-dot-divider hidden-xs"></li>
          <li>
            Get in touch on Twitter
            <a href="https://twitter.com/gbuszmicz" target="_blank">@insecureBlog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="/javascripts/jquery-1.12.3.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/readingTime.min.js"></script>